.container {
  display: flex;
}

.formContainer {
  display: flex;
  flex: 1;
}

.input {
  width: 400px;
  font-size: 20px;
  padding: 12px;
  border: 1px solid #c0c0c0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.enter {
  padding: 8px 16px;
  font-size: 18px;
  color: #c0c0c0;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
