body {
  background-color: #cce5ff;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  margin-top: 50px;
  padding: 32px;
  min-width: 500px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
  justify-content: center;
}
